@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* shared styles */

* {
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    background-color: #FF900E;
    border-radius: 8px;
    padding: 20px 30px;
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
    border: 0;

}

.btn-primary:hover {
    background-color: #6a0eff;
    transition: .3s;
    color: #fff;
}

.text-light-gray{
    color: #727272;
}





/* header styles start  */
header {
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav-title {
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}

nav>ul {
    display: flex;
}

nav ul li {
    list-style: none;
    margin-right: 25px;
    font-size: 1rem;
    font-weight: 500;
}

nav ul li a {
    text-decoration: none;
    color: #727272;
    padding: 5px 8px;
    border-radius: 5px;
    border: none;
}

nav ul li a:hover {
    /* background-color: #727272;
    color: white; */
    background-color: #6a0eff;
    transition: .2s;
    color: #fff;
}

/* banner styles */
.banner-content {

    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    font-size: 4rem;
    color: #131313;
    font-weight: 700;
}

.banner-description {
    color: #727272;

}

.banner img {
    width: 100%;
    margin-top: 20px;
}




/* main styles */
main {
    max-width: 1440px;
    margin: 70px auto;
}

.teams-container {
    display: flex;
    align-items: center;

}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.teams-content {
    padding: 0 70px;
}

.teams-title {
    font-size: 2.8rem;
}

.teams-title .quick-list {
    color: #727272;
    font-weight: normal;
}

.of-our {

}

.teams-title .text-feature {
    color: #FF900E;
    font-weight: 700;
}


/* Responsive media quearies */
/* mobile devices  */
@media screen and (max-width:576px) {
    header {
        padding: 20px;
    }

    nav {
        flex-direction: column;
    }
}

/* tablet or medium devices */
@media screen and (min-width:576px) and (max-width:960px) {
    header {
        padding: 50px;
    }

    nav {
        flex-direction: column;
    }
}
